<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="firefox" />
	  <package id="git" />
	  <package id="visualstudiocode" />
	  <package id="notepadplusplus" />
	  <package id="nodejs"/>
	  <package id="7zip" />
	  <package id="vlc" />
	  <package id="postman" />
	  <package id="pgadmin4" />
	  <package id="powertoys" />
	  <package id="office365business"/>
	</packages>
	
	
	                                  
